@font-face 
{
    font-family: 'raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

html
{
    margin-left: 2em;
    margin-right: 2em;
}

*
{      
    font-family: 'raleway', Arial, serif;
    font-size: 1.02em;
    padding: 0%;
    margin: 0%;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

mark
{   
    font-style: normal;
    font-weight: bold;
    background: none;
}


a
{
    color: black;
}

.reservia_icon
{
    height: 3em;
    width: 6em;
    color: #0065fc;    
}

.title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    width: 106em;
}

.anchor
{
    display: flex;
    flex-direction: row;
}

#text_anchor_lodging
{
    font-size: 1em;
    font-style: normal;
    margin-right: 4em;
    color: #0065fc;
}

#anchor_activity
{
    font-size: 1em;
    font-style: normal;
    color: black;
    
    margin-right: 4em;
}

#text_register
{
    font-size: 1em;
    font-style: normal;
    font-weight: bold;
    color: #0065fc;
    margin-right: 4em;
}

.intro
{   
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1.5em;
    margin-left: 0.5em;
}

.info_introduction
{   
    margin-left: 1em;
    line-height: 2em;
    font-style: normal;
    font-size: 0.9em;
}

form
{   
    display: flex;
    margin-top: 1em;   
    
    
    
    
}

label
{   
    
    display: flex; 
    position: relative; 
    border: solid 1px #f2f2f2;
    border-radius: 0.8em 0em 0em 0.8em;
    background-color: #f2f2f2;
    height: 2em;
    width: 2em;
    
   
}

#position
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 2em;
}

#lieu
{
    position: relative;
    font-weight: bold;
    font-style: normal;
    border: solid 0.09em #f2f2f2     
}

#submit_text
{   
    color: white;
    border: #0065fc;
    border-radius: 0em 0.8em 0.8em 0em;
    background-color: #0065fc;
    width: 7em;
}

#submit_div
{
    display: none;
}

#submit_text:hover
{
   border: solid 0.08em #ffffff ;
}

#filters
{   
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-left: 0.8em;
}

#filter_text
{   
    display: flex;
    align-items: center;
    margin-right: 5em;
    font-weight: bold;
}

.tag
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 4em; 
    
}

.tag_name
{
    
    font-weight: bold;
    font-size: 1em;
    border: 0.2em solid #f2f2f2;
    border-radius: 2em;
    padding: 0.5em 2em 0.5em 3em;
    position: relative;
    right: 2em;
    z-index: 0;
    
}

.filters_icon
{
   color: #0065fc;
   background-color: #deebff;
   border-radius: 2em;
   font-size: 0.95em;
   z-index: 1;
   display: flex;
   width: 3em;
   height: 3em;
   justify-content: center;
   align-items: center;
}

.tag_name:hover
{
    background-color: #deebff;
}

#body_page
{
    display: flex;
    flex-direction: row;
}

.fa-info:before
{      
    color: #0065fc;
    font-size: 0.9em;
}

#div_icon
{   
    display: flex;
    font-size: 0.9em;
    border: #f2f2f2 solid 0.1em;
    border-radius: 2em;
    height: 1.5em;
    width: 1.5em;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

#info
{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    align-items: center;
}

#lodgings
{   
    display: flex;
    flex-direction: column;
    
    background-color: #f2f2f2;
    border-radius: 1em;
    width: 64em;
    height: 40em;
    margin: 3em 0em 0em 0em;
    padding: 3em 0em 2em 2em;
}

#lodgings_title
{   
    font-size: 1.2em;
    font-weight: bold;
    

}

#lodgings_pannel
{   
    width: 62em;
    height: 35em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 2em; 
    margin-left: 1em;
}

.lodgings_cards
{
    display: flex;
    flex-direction: column;
    width: 16em;
    height: 13em;
    border: solid 0.5em white;
    border-radius: 1.5em;
    margin-right: 3em;
}

.cards_info
{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0.8em;
    padding-left: 0.4em;
    padding-top: 0.4em;
    background-color: white;
    position: relative;
    top: 7.8em;
}

.show_more
{
    font-style: 1em;
    font-weight: bold;
    padding-bottom: 1em;
}

#auberge_la_cannebiere
{
    background-repeat: no-repeat;
    background-size: 16em 13em;
    background-image: url("images/hebergements/4_small/aubergelacannebiere.jpg");   
    background-position-y: -2.1em;
}

#hotel_du_port
{
    background-repeat: no-repeat;
    background-size: 18em 13em;
    background-image: url("images/hebergements/4_small/hotelduport.jpg");
    background-position-y: -2.1em;
}

#hotel_les_mouettes
{
    background-repeat: no-repeat;
    background-size: 16em 13em;
    background-image: url("images/hebergements/4_small/hotellesmouettes.jpg");
    background-position-y: -1.9em;
}

#hotel_de_la_mer
{
    background-repeat: no-repeat;
    background-size: 16em 14em;
    background-image: url("images/hebergements/4_small/hoteldelamer.jpg");
    background-position-y: -2.8em;
}

#auberge_le_panier
{
    background-repeat: no-repeat;
    background-size: 16em 13em;
    background-image: url("images/hebergements/4_small/aubergelepanier.jpg");
    background-position-y: -1.9em;
}

#hotel_chez_amina
{
    background-repeat: no-repeat;
    background-size: 16em 13em;
    background-image: url("images/hebergements/4_small/hotelchezamina.jpg");
    background-position-y: -1.9em;
}
.star
{
    display: flex;
    flex-direction: row;
    height: 0.1em;
    width: 0.1em;
    color: #0065fc;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.empty_star
{
    display: flex;
    flex-direction: row;
    color: #f2f2f2;
}

.lodgings_name
{   
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
}

.lodgings_info
{   
    font-size: 0.9em;
    font-style: normal;
    font-weight: normal;
    padding-top: 0.5em;
}

#most_popular
{   
    display: flex;
    flex-direction: column;
    margin: 3em 2em 0em 4em;
    padding: 3em 2em 3em 2em;
    width: 32em;
    height: 39em;
    background-color: #f2f2f2;
    border-radius: 1em;
}

#most_popular_header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

#most_popular_title
{
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
}

#chart
{
    font-size: 1.4em;
}

.popular_cards
{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 29em;
    height: 10em;
    border: solid 0.5em white;
    border-radius: 1.5em;
    margin-top: 1.5em;
}

.popular_cards_info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    height: 10em;
    width: 16em;
    background-color: white;
    position: relative;  
    left: 10.5em;
}

.popular_lodgings_info
{   
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5em;
    padding-right: 2em;
    position: relative;
    bottom: 1em;
}

#hotel_le_soleil_du_matin
{
    background-image: url(images/hebergements/4_small/hotellesoleildumatin.jpg);
    background-repeat: no-repeat;
    background-size: 16em 10em;
    background-position-x: -3em;
}

#au_coeur_de_leau
{
    background-image: url(images/hebergements/4_small/aucoeurdeleau.jpg);
    background-repeat: no-repeat;
    background-size: 14em 10em;
    background-position-x: -2.5em;
}

#hotel_tout_bleu_et_blanc
{
    background-image: url(images/hebergements/4_small/hoteltoutblancetbleue.jpg);
    background-repeat: no-repeat;
    background-size: 12em 12em;
    background-position-x: -1em;
}

#activity
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 106em;
    height: 45em;
    
}

#activity_title
{
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    margin-top: 3em;
}

.activity_info
{   
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4em;
    width: auto;
    background-color: white;
    border-radius: 0em 0em 2em 2em;
}

.activity_name
{
    font-size: 1em;
    font-weight: bold;
    font-style: normal;
    text-indent: 2em;
}

#vieux_port
{   
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 35em;
    width: 24em;
    background: url(images/activites/3_medium/vieuxport.jpg);
    background-repeat: no-repeat;
    background-size: 30em 35em;
    background-position-x: -3em;
    border-radius: 2em;
    margin-top: 2em;
    box-shadow: 0em 0.1em 1em gray;
}

#fort_de_pomegues
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 17.5em;
    width: 24em;
    background: url(images/activites/2_large/fortdepomegues.jpg);
    background-repeat: no-repeat;
    background-size: 24em 40em;
    background-position-y: -12em;
    border-radius: 2em;
    margin-top: 2.1em;
    box-shadow: 0em 0.1em 1em gray;
}

#iles_du_frioul
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 15em;
    width: 24em;
    background: url(images/activites/4_small/ilesdufrioul.jpg);
    background-repeat: no-repeat;
    background-size: 24em 15em;
    border-radius: 2em;
    margin-top: 2.1em;
    box-shadow: 0em 0.1em 1em gray;
}

#parc_national_des_calanques
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 35em;
    width: 24em;
    background: url(images/activites/2_large/parcnationaldescalanques.jpg);
    background-repeat: no-repeat;
    background-size: 40em 35em;
    background-position-x: -8em;
    border-radius: 2em;
    margin-top: 2.1em;
    box-shadow: 0em 0.1em 1em gray;;
}

#notre_dames_de_la_garde
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 15em;
    width: 24em;
    background: url(images/activites/4_small/notredamedelagarde.jpg);
    background-repeat: no-repeat;
    background-size: 24em 15em;
    border-radius: 2em;
    margin-top: 2.1em;
    box-shadow: 0em 0.1em 1em gray;
}

#parc_longchamp
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 17.5em;
    width: 24em;
    background: url(images/activites/3_medium/parclongchamp.jpg);
    background-repeat: no-repeat;
    background-size: 24em 17.5em;
    border-radius: 2em;
    margin-top: 2.1em;
    box-shadow: 0em 0.1em 1em gray;
}

footer
{   
    background-color: #f2f2f2;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 14em;
    width: 111em;
    margin-left: -2em;
    margin-right: -2em;
    padding-left: 2em;
}

footer div
{   

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    line-height: 200%;
    
    
    padding: 0em 24em 0em 0em;      
}

footer div h1
{   
    font-size: 110%;
    line-height: 220%;
    font-weight: bolder;
}


@media screen and (max-device-width: 567px)
{   
    
    html
    {
        margin-right: 0em;
        margin-left: 0em;
        font-size: 1.5em;
    }
    
    .title
    {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto; 
        flex-wrap: wrap;
    }

    .reservia_icon
    {
        margin-left: 1em;
        height: 5em;
        width: 8em;
    }
    .reservia
    {
        width: 8em;
        height: 5em;
        margin-right: 0em;
        
    }
    .anchor
    {      
        font-size: 1.25em; 
        align-items: center;
    }

    #anchor_lodging
    {   
        width: 50%;
        margin-top: 1em;
        text-align: center;
        padding-bottom: 1em;
        border-bottom: solid 0.2em #0065fc;
    }
    #anchor_activity
    {
        width: 50%;
        margin-top: 1em;
        text-align: center;
        margin-right: 0em;
        padding-bottom: 1em;
        border-bottom: solid 0.2em #f2f2f2;
    }
    #register
    {      
       margin: 0em;
       position: absolute;
       top: 3.5em;
       right: 1em;
    }

    #text_anchor_lodging
    {
        margin: 0em;
    }

    #text_anchor_activity
    {
        margin: 0em;
    }

    #text_register
    {
        margin: 0em;
    }

    #p_intro
    {
        font-size: 1.3em;
        height: 4em;
        margin-left: 2em;
    }

    .intro
    {   
        margin-right: 2em;
        font-size: 1.2em;
        margin-left: 0em;
    }

    .info_introduction
    {   
        margin-left: 0em;
        font-size: 1em;
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }

    form
    {   
        justify-content: center;
        font-size: 1.8em;
        margin-top: 2em;
        margin-left: 0.5em;
    }

    #submit_text
    {
        display: none;
    }

    #submit_div
    {
        display: block;
        position: relative;
        right: 0.5em;
    }

    #submit_button
    {
       height: 100%;
       width: 2em;
       border-radius: 0.6em;
       border: #0065fc;
       background-color: #0065fc;
    }

    .fa-search
    {
        position: absolute;
        right: 0.8em;
        top: 0.8em;
        color:white; 
        font-size: 0.8em;
    }

    #lieu
    {
        width: 13em;
    }

    label
    {
        border-radius: 0.6em 0em 0em 0.6em;
    }
    .fa-map-marker-alt:before 
    {
        font-size: 0.8em;
    }
    #filter_text
    {
        font-size: 1.0em;
        margin-right: 10em;
        margin-bottom: 1em;
    }

    #filters
    {   
        font-size: 1.5em;
        flex-wrap: wrap;
    }

    .tag
    {
        margin-bottom: 0.5em;
        align-items: stretch;
        margin-right: 0em;
    }

    .tag_name
    {
        padding: 0.5em 1em 0.5em 2.4em;
    
    }
    #body_page
    {
        flex-direction: column-reverse;
    }

    #info
    {
        justify-content: center;
        font-size: 1.2em;
        margin-bottom: 2em;
    }

    #most_popular_title
    {
        font-size: 1.5em;
    }

    #chart
    {
        font-size: 2em;
    }

    #most_popular
    {
        padding: 2em;
        margin: 0em;
        width: auto;
        height: auto;
        border-radius: 0em;
    }
    
    #au_coeur_de_leau
    {
        background-position-x: -2.2em 
    }

    #hotel_tout_bleu_et_blanc
    {
        background-position-x: 0em;
        background-image: url(images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    }
    .popular_cards
    {
        width: auto;
    }

    .popular_cards_info
    {
        width: 18em;
        height: 10em;
        left: 11.5em;
        bottom:0.1em
    } 
    
    #lodgings_pannel
    {   
        margin: 0em;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #lodgings
    {
        width: auto;
        height: auto;
        background: none;
        padding: 0em;
    }

    .lodgings_cards
    {   
        margin: 0em;
        margin-top: 1.5em;
        width: 32em;
        height: 15em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    .cards_info
    {
        top: 9.6em;
        right: 0.5em;
        width: 31em;
        padding-left: 1em;
    }

    #lodgings_title
    {
        padding-left: 1.5em;
        margin-bottom: 1em;
        font-size: 1.6em;
    }

    .lodgings_name
    {
        font-size: 1.25em;
    }
    #auberge_la_cannebiere
    {
        background-size: 32em 20em;
        background-position-y: -5em;
    }

    #hotel_du_port
    {
        background-size: 32em 20em;
        background-position-y: -6em;
    }

    #hotel_les_mouettes
    {
        background-size:32em 20em ;
        background-position-y: -6em;
    }

    #hotel_de_la_mer
    {
        background-size:32em 30em ;
        background-position-y: -10em ;
    }

    #auberge_le_panier
    {
        background-size:32em 15em ;
       
    }

    #hotel_chez_amina
    {   
        background-image: url(images/hebergements/2_large/hotelchezamina.jpg);
        background-position-y: -12em;
        background-size:32em 32em ;
    }
    
    .show_more
    {
        font-size: 1.5em;
        margin-top: 2em;
        padding-left: 1em;
    }
    
    
    #activity
    {
        width: auto;
        height: auto;
        align-items: center;
    }

    #activity_title
    {
        font-size: 2em;
        padding-left: 2em;
        margin-bottom: 1em;
    }
    .activity_info
    {
        position: relative;
        top: 0.4em;
        font-size: 1.3em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    #vieux_port
    {
        width: 32em;
        height: 17.5em;      
        background: url(images/activites/3_medium/vieuxport.jpg);
        background-size: 32em 20em;
        background-position-y: -0em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    #fort_de_pomegues
    {
        width: 32em;
        height: 17.5em;      
        background: url(images/activites/2_large/fortdepomegues.jpg);
        background-size: 32em 50em;
        background-position-y: -17em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    #iles_du_frioul
    {
        width: 32em;
        height: 17.5em;
        background-size: 32em 20em;
        background-position-y: -1em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207); 
    }

    #parc_national_des_calanques
    {
        width: 32em;
        height: 17.5em;
        background-size: 32em 20em;
        background-position-x: -0em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207); 
    }

    #notre_dames_de_la_garde
    {
        width: 32em;
        height: 17.5em;
        background-size: 32em 17.5em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    #parc_longchamp
    {
        width: 32em;
        height: 17.5em;
        background-size: 32em 25em;
        background-position-y: -5em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    footer
    {   
        flex-direction: column;
        width: auto;
        height: auto;
        margin-top: 4em;
        padding-top: 2em;
        margin-right: 0em;
    }

    footer div
    {
        font-size: 1.3em;
        margin-left: 2em;
        margin-bottom: 2em;
        width: auto;
        height: auto;
        padding: 0em;  
    }

    footer div a
    {
      font-size: auto;
    } 

}

@media screen and (min-device-width: 568px) and (max-device-width:1112px)
{
    html
    {   
       width: auto; 
       margin-left: 0em;
       margin-right: 0em; 
       font-size: 1.3em;
       
    }

    header
    {
        font-size: 1.3em

    }
    .title
    {
        width: auto;
        height: auto; 
    }

    #text_register
    {
        margin-right: 2em;
    }

    form
    {
        justify-content: center;
        margin-top: 2em;
        font-size: 1.2em;
    }

    #filter_text
    {
        margin-right: 18em;
        margin-bottom: 0.5em;
        font-size: 1.2em;
        position: relative;
        right: 2em;
    }

    .tag
    {
        margin-right: 0em;
        margin-top: 0.5em;
       
    }

    #filters
    {
        width: auto;
        height: auto;
        flex-wrap: wrap; 
        justify-content: center;
    }

    #body_page
    {
        width: auto;
        height: auto; 
        flex-direction: column;
    }

    #info
    {
        font-size: 1.2em;
        justify-content: center;
        margin-top: em;
    }

    #lodgings_title
    {
        font-size: 1.4em;
    }

    #lodgings
    {   
        margin: 0em;
        width: auto;
        height: auto; 
    }

    .lodgings_cards
    {
        margin-right: 2em;
        margin-top: 2em;
    }

    .cards_info
    {
        width: 15.7em;
        right: 0.2em;
        border-radius: 0em 0em 1em 1em;
    }

    #lodgings_pannel
    {
        width: auto;
        height: auto; 
        margin-left: 0em;
        margin-top: 0em;
    }

    .show_more
    {
        margin-top: 1.5em;
        font-size: 1.2em;
    }

    .popular_cards_info
    {
        bottom: 0.1em;
    }

    #most_popular_title
    {
        font-size: 1.3em;
    }

    #activity_title
    {
        font-size: 1.5em;
        margin-left: 2em;
    
    }

    #activity
    {
        width: auto;
        height: auto; 
        flex-direction: row;
        font-size: 0.8em;
        margin: 1em;
        justify-content: center;
        align-items: ;
    }

    #vieux_port
    {
        order: 0;
    }

    #fort_de_pomegues
    {
        order: 1;
    }

    #parc_national_des_calanques 
    {
        order: 0;
        margin-left: 2em;
    }

    #parc_longchamp
    {
        order: 1;
        margin-left: 2em;
    }

    #iles_du_frioul
    {
        order: 2;
       
    }

    #notre_dames_de_la_garde
    {
        order: 2;
        margin-left: 2em;
    }

    footer
    {
        width: auto;
        height: auto; 
        flex-wrap: wrap;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 3em;
        padding-left: 0em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        justify-content: space-around;
    }

    footer div
    {
        padding: 0em 0em 0em 0em;
    }
}



