@font-face 
{
    font-family: 'raleway';
    src: url('Raleway/Raleway-VariableFont_wght.ttf');
}

html
{
    margin-left: 2em;
    margin-right: 2em;  
}

*
{      
    font-family: 'raleway', Arial, serif;
    padding: 0%;
    margin: 0%;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

mark
{   
    font-style: normal;
    font-weight: bold;
    background: none;
}

a
{
    color: black;
}

.reservia_icon
{
    height: 100%;
    width: 100%;
    color: #0065fc;    
}

.title
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    width: 100%;
}

.anchor
{
    display: flex;
    flex-direction: row;
}

#text_anchor_lodging
{
    font-style: normal;
    margin-right: 4em;
    color: #0065fc;
}

#anchor_activity
{
    font-style: normal;
    color: black;
    margin-right: 4em;
}

#text_register
{
    font-style: normal;
    font-weight: bold;
    color: #0065fc;
    margin-right: 4em;
}

.intro
{   
    font-size: 115%;
    font-weight: bold;
    margin-top: 1.5em;
}

.info_introduction
{   
    line-height: 2em;
    font-style: normal;
    font-size: 90%;
}

form
{   
    display: flex;
    margin-top: 1em;
    height: 43px;
}

label
{   
    
    display: flex; 
    border: solid 1px #f2f2f2;
    border-radius: 0.8em 0em 0em 0.8em;
    background-color: #f2f2f2;
    width: 40px; 
}

#position
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 43px;
}

#lieu
{
    font-weight: bold;
    font-style: normal;
    border: solid 0.09em #f2f2f2; 
    font-size: 95%;   
}

#submit_text
{   
    color: white;
    border: #0065fc;
    border-radius: 0em 0.8em 0.8em 0em;
    background-color: #0065fc;
    width: 7em;

}

#submit_div
{
    display: none;
}

#submit_text:hover
{
   border: solid 0.08em #ffffff ;
}

#filters
{   
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 2em;
}

#filter_text
{   
    display: flex;
    align-items: center;
    margin-right: 4%;
    font-weight: bold;
}

.tag
{
    display: flex;
    flex-direction: row;
    margin-right: 2%
}

.tag_name
{
    display: flex;
    align-items: center;
    font-size: 90%;
    font-weight: bold;
    border: 0.2em solid #f2f2f2;
    border-radius: 2em;
    padding-right: 15px;
    padding-left: 40px;
    position: relative;
    right: 2em;
    z-index: 0;
    
}

.filters_icon
{
   color: #0065fc;
   background-color: #deebff;
   border-radius: 2em;
   font-size: 90%;
   z-index: 1;
   display: flex;
   width: 3em;
   height: 3em;
   justify-content: center;
   align-items: center;
}

.tag_name:hover
{
    background-color: #deebff;
}

#body_page
{
    display: flex;
    flex-direction: row;
}

.fa-info:before
{      
    color: #0065fc;
    font-size: 0.9em;
}

#div_icon
{   
    display: flex;
    font-size: 0.9em;
    border: #f2f2f2 solid 0.1em;
    border-radius: 2em;
    height: 1.5em;
    width: 1.5em;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

#info
{
    display: flex;
    flex-direction: row;
    font-size: 90%;
    margin-top: 2em;
    align-items: center;
}

#lodgings
{   
    display: flex;
    flex-direction: column;
    
    background-color: #f2f2f2;
    border-radius: 1em;
    width: 64%;
    height: auto;
    margin: 3% 0% 0% 0%;
}

.lodgings_title
{   
    font-size: 120%;
    text-indent: 25px;
    margin-top: 30px;
    font-weight: bold;
}

#lodgings_pannel
{   
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.picture
{   
    width: 100%;
    height: 64%;
    object-fit: cover;
}

.lodgings_cards
{
    display: flex;
    flex-direction: column;
    width: 27%;
    height: 35%;
    border: solid 0.5em white;
    border-radius: 1.5em;
}

.link
{
    width: 100%;
    height: 100%;
}

.cards_info
{
    width: 100%;
    height: 36%;
    display: flex;
    flex-direction: column;
    border-radius: 0em 0em 1em 1em;
    background-color: white;
    padding-top: 1.5%;
    box-sizing: border-box;
}

.show_more
{   
    font-size: 100%;
    font-weight: bold;
    text-indent: 25px;
    padding-top: 5%;
}


.star
{   
    display: flex;
    flex-direction: row;
    color: #0065fc;
    text-indent: 55%;
    font-size: 70%;
    padding-top: 4%;
   
}

.empty_star
{
    display: flex;
    flex-direction: row;
    color: #f2f2f2;
}

.lodgings_name
{   
    font-size: 90%;
    font-weight: bold;
    font-style: normal;
    padding-left: 4%;
}

.lodgings_info
{   
    font-size: 80%;
    font-style: normal;
    font-weight: normal;
    padding-top:2%;
    padding-left: 4%;
}

#most_popular
{   
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 3% 0% 0% 4%;
    background-color: #f2f2f2;
    border-radius: 1em;
}

#most_popular_header
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items:baseline;
}

#popular_lodgings_pannel
{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


#chart
{
    font-size: 140%;
    padding-right: 7%;
}

.popular_cards
{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 23%;
    border: solid 0.5em white;
    border-radius: 1.5em;
}

.popular_picture
{
    width: 40%;
    height: 100%;
    object-fit: cover;   
}

.popular_cards_info
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
    height: 100%;
    background-color: white; 
}

.popular_lodgings_info
{   
    display: flex;
    flex-wrap: wrap;
}

.activity
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
}

#activity_pannel
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
}

#activity_title
{
    font-size: 120%;
    font-weight: bold;
    font-style: normal;
}

.activity_picture
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0em 0em;
}

.activity_cards_1
{   
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 22%;
    border-radius: 1em;
    box-shadow: 0px 0px 5px gray;
}

.activity_cards_2
{   
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    height: 250px;
    width: 22%;
    box-shadow: 0px 0px 5px gray;
}

.activity_cards_3
{   
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    height: 200px;
    width: 22%;
    box-shadow: 0px 0px 5px gray;
}

.activity_view
{
    height: calc(100% - 40px);
    width: 100%;
}

.activity_info
{   
    display: flex;
    background-color: white;
    border-radius: 0em 0em 1em 1em;
    border-bottom: 1px gray;
    height: 40px;
    width: 100%;
    align-items: center;
    text-indent: 20px;
}

.activity_name
{
    font-size: 90%;
    font-weight: bold;
}

footer
{   
    background-color: #f2f2f2;  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 14em;
    width: 100%;
    
}

footer div
{   
    display: flex;
    flex-direction: column;
    line-height: 200%;
    padding-right: 10%; 
    padding-left: 5%;
    padding-top: 40px;    
}

footer div h2
{   
    font-size: 110%;
    line-height: 220%;
    font-weight: bolder;
}

footer div a
{
    font-size: 95%;
}


@media only screen and (min-width : 320px) and (max-width : 480px)
{   
    
    html
    {
        margin-right: 0em;
        margin-left: 0em;
    }
    
    .title
    {
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto; 
        flex-wrap: wrap;
    }

    .reservia_icon
    {
        margin-left: 1em;
        width: 30%;
        height: 100%;
    }
    .reservia
    {
        margin-right: 0em;
        width: 100%;
        height: 100%;
    }
    .anchor
    {      
        font-size: 120%; 
        align-items: center;
    }

    #anchor_lodging
    {   
        width: 50%;
        margin-top: 1em;
        text-align: center;
        padding-bottom: 1em;
        border-bottom: solid 0.2em #0065fc;
    }
    #anchor_activity
    {
        width: 50%;
        margin-top: 1em;
        text-align: center;
        margin-right: 0em;
        padding-bottom: 1em;
        border-bottom: solid 0.2em #f2f2f2;
    }
    #register
    {      
       margin: 0em;
       position: absolute;
       top: 3.5em;
       right: 1em;
    }

    #text_anchor_lodging
    {
        margin: 0em;
    }

    #text_anchor_activity
    {
        margin: 0em;
    }

    #text_register
    {
        margin: 0em;
    }

    #p_intro
    {
        height: 4em;
        margin-left: 2em;
    }

    .intro
    {   
        margin-right: 2em;
        margin-left: 0em;
        font-size: 1.3em;
    }

    .info_introduction
    {   
        margin-left: 0em;
        font-size: 1em;
        flex-wrap: wrap;
        height: auto;
        width: auto;
    }

    form
    {   
        justify-content: center;
        font-size: 1.4em;
        margin-top: 1.5em;
        margin-left: 0.5em;
    }

    #submit_text
    {
        display: none;
    }

    #submit_div
    {
        display: block;
        position: relative;
        right: 0.5em;
    }

    #submit_button
    {
       height: 100%;
       width: 2em;
       border-radius: 0.6em;
       border: #0065fc;
       background-color: #0065fc;
    }

    .fa-search
    {
        position: absolute;
        right: 0.8em;
        top: 0.8em;
        color:white; 
        font-size: 0.8em;
    }

    #lieu
    {
        width: 13em;
    }

    label
    {
        border-radius: 0.6em 0em 0em 0.6em;
    }
    .fa-map-marker-alt:before 
    {
        font-size: 0.8em;
    }
    #filter_text
    {
        margin-right: 10em;
        margin-bottom: 1em;
        width: 100%;
    }

    #filters
    {   
        width: 95%;
        font-size: 1.1em;
        flex-wrap: wrap;
        padding-left: 0.5em;
    }

    .tag
    {
        margin-bottom: 0.5em;
        align-items: stretch;
        margin-right: 0em;
    }

    .tag_name
    {
        padding: 0.5em 1em 0.5em 2.4em;
    }
    #body_page
    {
        flex-direction: column-reverse;
    }

    #info
    {
        width: 90%;
        display: flex;
        justify-content: center;
        margin-bottom: 2em;
        align-items: start;
        margin-left: 1em;
    }

    #most_popular_title
    {
        font-size: 1.3em;
    }

    #chart
    {
        font-size: 1.5em;
    }

    #most_popular
    {
        padding: 1em;
        margin: 0em;
        width: auto;
        height: auto;
        border-radius: 0em;
    }
    
    #hotel_le_soleil_du_matin
    {
       background-size: 18em 150%; 
       background-position-x: -2em;
       background-position-y: -3em ;
    }

    #au_coeur_de_leau
    {
        background-position-x: -3em;
        background-position-y: -3em ;
        background-size: 18em 170%;
    }

    #hotel_tout_bleu_et_blanc
    {
        background-position-x: -3em;
        background-position-y: -7em;
        background-image: url(images/hebergements/2_large/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
        background-size: 18em 250%;
    }
    .popular_cards
    {
        width: 95%;
        height: 8em;
    }

    .popular_cards_info
    {   
        width: 50%;
        height: 110%;
        position: relative;
        left: 1em;
        border-radius: 0em 1em 1em 0em
    } 

    #lodgings_pannel
    {   
        margin: 0em;
        width: auto;
        height: auto;
        flex-direction: column;
        align-items: center;
    }

    #lodgings
    {
        width: auto;
        height: auto;
        background: none;
        padding: 0em;
    }

    .lodgings_cards
    {   
        margin: 0em;
        margin-top: 1.5em;
        width: 90%;
        height: 15em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    .cards_info
    {
        
        right: 0.5em;
        width: 100%;
        padding-left: 1em;
    }

    .lodgings_title
    {   padding-left: 0.5em;
        font-size: 1.4em;
    }

    .lodgings_name
    {
        font-size: 1.1em;
    }

    .lodgings_info
    {
        font-size: 1em;
    }
    #auberge_la_cannebiere
    {
        background-size: 100% 100%;
        background-position-y: -3em;
    }

    #hotel_du_port
    {
        background-size: 130% 130%;
        background-position-y: -6em;
        background-position-x: -3em;
    }

    #hotel_les_mouettes
    {
        background-size:  100% 100%; 
        background-position-y: 
        background-position-x: ;
    }

    #hotel_de_la_mer
    {
        background-size:100% 150% ;
        background-position-y: -6em;
    }

    #auberge_le_panier
    {
        background-size:100% 100%;

       
    }

    #hotel_chez_amina
    {   
        background-image: url(images/hebergements/2_large/hotelchezamina.jpg);
        background-position-y: -9em;
        background-size:100% 200%;
    }
    
    .show_more
    {
        font-size: 1.3em;
        margin-top: 2em;
        padding-left: 1em;
    }
    
    
    #activity
    {
        width: auto;
        height: auto;
        align-items: center;
        font-size: 10%;
    }

    #activity_title
    {
        font-size: 1em;
        padding-left: 1em;
        margin-bottom: 1em;
    }

    .activity_info
    {
        position: relative;
        top: 0.4em;
        font-size: 1em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    .activity_name
    {
        font-size: 30%;
    }

    #vieux_port
    {
        width: 90%;
        height: 17.5em;      
        background: url(images/activites/3_medium/vieuxport.jpg);
        background-size: 100% 100%;
        background-position-y: -0em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
    }

    #fort_de_pomegues
    {
        width: 90%;
        height: 17.5em;      
        background: url(images/activites/2_large/fortdepomegues.jpg);
        background-size: 100% 200%;
        background-position-y: -10em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
        margin-top: 3em;
    }

    #iles_du_frioul
    {
        width: 90%;
        height: 17.5em;
        background-size: 130% 100%;
        background-position-y: -3em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207); 
        margin-top: 3em;
    }

    #parc_national_des_calanques
    {
        width: 90%;
        height: 17.5em;
        background-size: 130% 100%;
        background-position-x: -3em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207); 
        margin-top: 3em;
    }

    #notre_dames_de_la_garde
    {
        width: 90%;
        height: 17.5em;
        background-size: 100% 100%;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
        margin-top: 3em;
    }

    #parc_longchamp
    {
        width: 90%;
        height: 17.5em;
        background-size: 100% 100%;
        background-position-y: -0em;
        box-shadow: 0em 0.0em 0.3em rgb(207, 207, 207);
        margin-top: 3em;
    }

    footer
    {   
        flex-direction: column;
        width: auto;
        height: auto;
        margin-top: 4em;
        padding-top: 2em;
        margin-right: 0em;
    }

    footer div
    {
        font-size: 1.1em;
        margin-left: 2em;
        margin-bottom: 2em;
        width: auto;
        height: auto;
        padding: 0em;  
    }
}

@media only screen and (min-width : 768px) and (max-width : 1024px)
{
    html
    {   
       width: auto; 
       margin-left: 0em;
       margin-right: 0em; 
    }

    header
    {
        font-size: 1.3em

    }
  
    .title
    {
        width: auto;
        height: auto; 
    }

    .anchor
    {
        font-size: 0.9em;
    }
    #text_register
    {
        margin-right: 2em;
    }

    form
    {
        justify-content: center;
        margin-top: 2em;
        margin-bottom: 4em;
        font-size: 1.1em;
    }

    #p_intro
    {   
        margin-top: 4em;
        text-align: center;
        font-size: 0.9em;
    }
    #filter_text
    {
        width: 100%;
        margin-bottom: 0.5em;
        font-size: 1em;
        text-align : center;
        display: inline;
        margin-right: 0%;
    }

    .tag
    {   
        margin-left: 1em;
        margin-right: 0em;
        margin-top: 0.5em;
       font-size: 0.9em;
    }

    #filters
    {
        width: auto;
        height: auto;
        flex-wrap: wrap; 
        justify-content: center;
    }

    #body_page
    {
        width: auto;
        height: auto; 
        flex-direction: column;
        align-items: center;
    }

    #info
    {
        font-size: 0.9em;
        justify-content: center;
    }

    #lodgings_title
    {
        font-size: 1.3em;
        text-indent: 2%;
    }

    #lodgings
    {   
        margin: 0em;
        width: auto;
        height: ; 
        padding-left: 0%;
    }

    .lodgings_name
    {
        font-size: 1em;
    }

    .lodgings_info
    {
        font-size: 0.9em;
    }

    .star
    {
        font-size: 0.8em;
    }
    .lodgings_cards
    {
        margin-right: 0%;
        margin-top: 2em;
    }

    .cards_info
    {
        width: 100%;
        height: auto;
        right: 0.8%;
        border-radius: 0em 0em 1em 1em;
    }

    #lodgings_pannel
    {
        width: 100%;
        height: auto; 
        margin-left: 0em;
        margin-top: 0em;
        justify-content: space-around;
    }

    .show_more
    {
        margin-top: 1.5em;
        font-size: 1.2em;
        text-indent: 2%;
    }

    #most_popular
    {
        width: auto;
        height: auto;
    }

    #most_popular_title
    {
        font-size: 1.3em;
    }

    #activity_title
    {
        font-size: 1.3em;
        margin-bottom: 3%;
        text-align: center;
    }

    #activity
    {   
        width: 100%;
        height: auto;
        flex-direction: row;
        justify-content: space-around;   
    }

    .activity_name
    {
        font-size: 0.9em;
    }

    #vieux_port
    {
        order: 0;
        width: 45%;
    
        
    }

    #fort_de_pomegues
    {
        order: 1;
        width: 45%;
    }

    #parc_national_des_calanques 
    {
        order: 0;
        width: 45%;
        left: 1.5%;
    }

    #parc_longchamp
    {
        order: 1;
        width: 45%;
    }

    #iles_du_frioul
    {
        order: 2;
        width: 45%;
    }

    #notre_dames_de_la_garde
    {
        order: 2;
        width: 45%;
    }

    footer
    {
        width: auto;
        height: auto; 
        flex-wrap: wrap;
        margin-left: 0em;
        margin-right: 0em;
        margin-top: 3em;
        padding-left: 0em;
        padding-top: 1.5em;
        padding-bottom: 1.5em;
        justify-content: space-around;
        font-size: 0.9em;
    }

    footer div
    {
        padding: 0em 0em 0em 0em;
    }
}



